<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LedControlSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LedControlSystem.Properties.Settings>
            <setting name="ProjectDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>ZH_CN</value>
            </setting>
            <setting name="FrameLength" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Template" serializeAs="String">
                <value>Classic1</value>
            </setting>
            <setting name="DataStar" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="UseGroup" serializeAs="String">
                <value>False</value>
            </setting>
        </LedControlSystem.Properties.Settings>
    </userSettings>
</configuration>